    <div class="middle-box text-center loginscreen animated fadeInDown">
            <div style="height:10%"></div>
            <div style="height:85%">
                <img src="/img/logo1.png" title="logo" class="logo-hlp">
                <img src="/img/logo2.png" title="logo">

                <p class="navy-c"><b>Log in</b> to see it in action.</p>
                <form class="m-t" role="form" method="post" action="/index/login">
                    <div class="form-group">
                        <input type="login" name="login" class="form-control" placeholder="NAME" required="">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="PASSWORD" required="">
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b"><?= $this->translate("Log in") ?></button>

                    <?php /*a class="frg-grey" href="#"><small><?= $this->translate("Forgot password?") ?></small></a*/ ?>
                </form>
            </div>
            <div>
                <p  class="frg-grey"> <small><?=$this->site_name?> &copy; 2016</small> </p>
            </div>
    </div>