
<div class="contact about-desc">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact_right">
                    <div class="contact-form_grid">
                        <?= $this->form ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>