html{
	font-family:  "HelveticaNeue-Light",Helvetica, Arial,  sans-serif;
	height:100%;
}
body{
	margin:0;
	padding:0;
	height:100%;
	background:#d6d6d6;
}
#wrapper{
	display:table;
	width:100%;
	padding-top:50px;
}

#header, .headpart{	height:50px;}
#header{
	color:#fff;
	text-align:center;
	line-height:50px;
	font-size:27px;
	text-shadow:1px 1px 3px #000;
	background: #0c3471; /* Old browsers */
	/*background: -moz-linear-gradient(top,  #4096ee 0%, #4096ee 100%); /* FF3.6-15 */
	/*background: -webkit-linear-gradient(top,  #4096ee 0%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
	/*background: linear-gradient(to bottom,  #4096ee 0%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */

	position:fixed;
	top:0px;
	width:100%;
	min-width:700px;
	z-index: 10;
}
#content{
	padding:5px 0px;
	display:table;
	width:100%;
}
.tbl_wrapper {
   display: table;
   border-collapse: collapse;
   width:100%;
}
.tbl_wrapper.main{
	min-width:100%;
	width:auto;
}
.tbl_wrapper .tbl_row {
   display: table-row;
   background:#ffffff;
}
.tbl_wrapper .tbl_row.delim{
	height:5px;
}

.tbl_wrapper .tbl_cell {
   display: table-cell;
   text-align: left;
   vertical-align: top;
}
.tbl_wrapper.group .tbl_cell {
	padding-right:2px;
	padding-left:2px;
	border:0px solid blue;
}

.tbl_wrapper .tbl_cell.flvl {
	padding-top:5px;
	padding-bottom:5px;
	height: 100%;
	border-right: 1px solid #737373;
}
.tbl_wrapper .tbl_cell .res_wrp {
    line-height: 24px;
	text-align:center;
	position: relative;
}
.tbl_wrapper .tbl_cell .res_wrp.text-left{
	text-align: left;
	white-space: normal;
	padding-left: 5px;
}

.tbl_wrapper .tbl_wrapper.group{
	border-left:0px solid #737373;
	border-right:0px solid #737373;
	box-sizing: border-box;
	height: 100%;
    width:100%;
    max-width: 100%;
}
.tbl_cell{
	/*box-sizing: border-box;*/
}

.tbl_row .last_coll .tbl_wrapper.group{
	border-right: none;
}
.tbl_row .first_coll .tbl_wrapper.group{
	border-left: none;
}
.tbl_wrapper .tbl_header .tbl_cell{
	height: 30px;
	padding-left:0px;
	padding-right:0px;
}
.tbl_wrapper .tbl_header.tbl_row{
	background:#ebebeb;
}

.tbl_wrapper .tbl_header .tbl_wrapper.group{
	border-left:1px solid #737373;

}
.tbl_row.tbl_header {border:1px solid #737373;}

.tbl_row.tbl_header .last_coll .tbl_wrapper.group{
	border-right: 1px solid #737373;
}
.tbl_wrapper .tbl_header .tbl_wrapper.group .tbl_row{
	background:#ebebeb;
	position: relative;
}

.vab{vertical-align: bottom !important;}

.inst{
	padding: 0 2px;
	/*margin: 1px 0;*/
	float:left;
}



.tbl_wrapper .tbl_header .tbl_wrapper.group .tbl_cell{ padding:2px; }

.tbl_wrapper .tbl_header .tbl_wrapper.group .tbl_cell .header_cell{
	background-color:#ebebeb;
	border:1px solid #ebebeb;
	text-align: center;
    height: 35px;
    line-height: 1;
	white-space:nowrap;
	font-size: 0.8em;
}
.cw.after-img.d270{top:0px !important;}

.tbl_wrapper .tbl_header .tbl_wrapper.group .tbl_cell .header_cell.box_elem{

	position: relative;
}

.has_sort{
	background-color:#d9d9d9 !important;
	border:1px solid #c4c4c4 !important;
}
/*.detailMode-100 .header_cell.box_elem{margin-bottom: 2px;}*/

.tbl_wrapper .tbl_header .tbl_wrapper.group .tbl_cell .header_cell .cw{
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
}
.tbl_wrapper .tbl_header .tbl_wrapper.group .tbl_cell .header_cell span{
    height: inherit;
    vertical-align: middle;
    display: table-cell;
	font-weight: 900;
}

.res_wrp.hasv{font-weight: 600;}

.tbl_wrapper .tbl_header .tbl_wrapper.group .tbl_cell .header_cell.has_sort,
.table_wrapper .tbl_cell .header_cell.has_sort
{
	position:relative;
	/* padding: 0 20px 0 10px; */
    cursor: pointer;
	padding-right:15px;
}
.tbl_wrapper .tbl_header .tbl_wrapper.group .tbl_cell .header_cell.has_sort .s_desc,
.table_wrapper .tbl_cell .header_cell.has_sort .s_desc
{
	content:' ';
	display:block;
	width:15px;
	height:8px;
	position:absolute;
	top:50%;
	right:0px;
	background:url('../img/sort_desc.png') no-repeat;
	cursor:pointer;
	
	margin-top:1px;
}
.tbl_wrapper .tbl_header .tbl_wrapper.group .tbl_cell .header_cell.has_sort .s_asc,
.table_wrapper .tbl_cell .header_cell.has_sort .s_asc
{
	content:' ';
	display:block;
	width:15px;
	height:8px;
	position:absolute;
	top:50%;
	right:0px;
	background:url('../img/sort_asc.png') no-repeat;
	cursor:pointer;
	margin-top:-8px;
}

.tbl_wrapper .tbl_header .tbl_wrapper.group .tbl_cell .header_cell.has_sort.no_icon_coll{
    padding-right: 15px !important;


}
.tbl_wrapper .tbl_header .tbl_wrapper.group .tbl_cell .header_cell.has_sort{
    margin-right: -1px;
}
.tbl_wrapper .tbl_header .tbl_wrapper.group .tbl_cell .header_cell.has_sort.no_icon_coll .s_asc{
    right: 0px;
    left: auto;
}
.tbl_wrapper .tbl_header .tbl_wrapper.group .tbl_cell .header_cell.has_sort.no_icon_coll .s_desc{
    right: 0px;
    left: auto;
}
.tbl_wrapper .tbl_header .tbl_wrapper.group .tbl_cell .header_cell.has_sort.no_icon_coll .after-img{
    height: auto;
    top: 5px;
    display: table-cell;
    width: 100%;
}
.tbl_wrapper .tbl_header .tbl_wrapper.group .tbl_cell .header_cell.has_sort.no_icon_coll .after-img span{
    text-align: center;
    padding-right: 15px;
    display: inline-block;
}
.onlystatus{padding:0px !important;}

.onlystatus .s_asc,
.onlystatus .s_desc{
	top:10px !important;
	left:10px !important;
}


.tbl_wrapper .tbl_header .tbl_wrapper.group .tbl_cell .header_cell.has_sort.desc .s_desc,
.table_wrapper .tbl_cell .header_cell.has_sort.desc .s_desc{
	background:url('../img/sort_desc_act.png') no-repeat;
}
.tbl_wrapper .tbl_header .tbl_wrapper.group .tbl_cell .header_cell.has_sort.asc .s_asc,
.table_wrapper .tbl_cell .header_cell.has_sort.asc .s_asc{
	background:url('../img/sort_asc_act.png') no-repeat;
}
.icon1_bgr{
	padding: 0 0 0 25px !important;
	position: relative;
}
.icon1_bgr:before{
	content:' ';
	height: 30px;
    width: 30px;
	position: absolute;
	display:block;
	left:6px;
	top:3px;
	
	/*background-image:url('../img/icon_1.svg');*/
	background-image:url('../img/icon_11.png');
	background-repeat-x:no-repeat;
	background-repeat-y:no-repeat;
	background-size: cover;
}
.header_cell.box_elem.icon1_bgr{
    max-width: 70%;
}
.icn{
	display: block;
    float: left;	
    top: 50%;
    /* position: relative; */
	position:absolute;
}

.icn.icn-d{
	margin-top: 5px !important;
	top:0px !important;
    left: 50% !important;
    margin-left: -17px !important;
}

.detailMode-100 .s_desc {
	top: 15px !important;
}

.after-img{
	font-weight: 900;
	top: 35px;
	position: absolute;
	width: 100%;
	line-height: 1.5;
	white-space: normal !important;
}

.after-img-light {
	font-weight: 900;
	position: relative;
	line-height: 1.5;
	white-space: normal !important;
	left: 0;
	font-size: 11px;
	top: 20px;
 	text-align: left;
	text-align: -webkit-auto;
	text-align: center;
}

.middle-valign{vertical-align: middle !important;}
.fs-13{vertical-align: middle !important; font-size: 1.3em; padding-left: 15px; padding-right: 15px;}
.fs-14{vertical-align: middle !important; font-size: 1.0em;}
.header_cell.detailMode-100{padding: 0 !important;}

.fake{opacity: 0 !important;}
.fake-1px{width:1px; max-width:1px;    padding: 0 !important;}
.deg270{
	transform: rotate 270;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	writing-mode: tb-rl;
	position: relative;
	width: 35px;
	height: 60px !important;
}

.icn.one{
	left:50%;
}
.icn.icon1{
	width:30px;
	height:30px;
	/*background:url('../img/icon_1.svg') no-repeat;*/
	background:url('../img/icon_11.png') no-repeat;
	margin-top: -10px;
	background-size: cover;
}
.icn.icon1.one{
	margin-left: -10px;
}
.icn.icon2{
	width: 30px;
	height: 30px;
	/*background: url('../img/icon_2.svg') no-repeat;*/
	background:url('../img/icon_21.png') no-repeat;
	margin-top: -20px;
	background-size: cover;
}
.icn.icon2.one{
	margin-left: -17px;
}
.icn.icon3{
	width:30px;
	height:30px;
	/*background:url('../img/icon_3.svg') no-repeat;*/
	background:url('../img/icon_31.png') no-repeat;
	margin-top: -20px;
	background-size: cover;
}
.icn.icon3.one{
	margin-left: -17px;
}
.icn.icon4{
	width:30px;
	height:30px;
	/*background:url('../img/icon_4.svg') no-repeat;*/
	background:url('../img/icon_41.png') no-repeat;
	background-size: cover;
}

.detailMode-100 .icn.icon4{
	margin-left: -14px !important;
	margin-top: 2px !important;
}

.icn.icon4.one{
	margin-left: -12px;
	margin-top: -20px;
}
.icn.icon5{
	width: 20px;
	height: 20px;
	background: url('../img/icon_5.svg') no-repeat;
	margin-top: -16px;
}
.icn.icon5.one{
	margin-left: -17px;
}

.ico_status{
	width:15px;
	height:15px;
	border-radius:50%;
	overflow:hidden;
	display: inline-block;
}
.ico_status.on{
	background:#1aaf00;
}
.ico_status.off{
	background:#fc1600;
}

.txt_status{
	font-weight: 700;
	text-transform:uppercase;
	line-height: 16px;
}
.txt_status.on{
	color:#04df0b;
}
.txt_status.off{
	color:#949494;
}
.text-right{
	text-align:right
}
.text-left{
	text-align:left
}
.text-center{
	text-align:center
}

.from_to{
	color:#878787;
}
.from_to.hasv .from{
	color:#026900;
}
.from_to .to{}
.from_to.hasv .delim{
	color:#2a0030;
}


.txt_label{
	color:#6b6666;
	font-weight: 700;
}
.txt_label.success{
	color:#28741f;
}
.txt_label.warning{
	color:#fc7200;
}
.txt_label.danger{ color:#ff0000;}
.txt_label.warning{ color:#f96a00;}
.txt_label.normal{ color:#949494;}

.txt_label.btm_line:after{
	content:' ';
	width:100%;
	height:5px;
	background:#ffcecc;
	display: block;
	position: relative;	
}
.temp{
	color: #949494;
	font-weight:700;
	padding-left:20px;
    height: 22px;
    line-height: 22px;
    font-weight: 900;

}

.res_wrp.spa-degree{
	font-weight: 400;
	padding-left: 0px;
	height: 22px;
	line-height: 22px;
	color: #949494;
}

.temp.cold{
	/*background:url('../img/t_cold.png') no-repeat 5px 0;*/
	color:#1abeff;
	font-weight:900;
}

.temp.cold::before { background:url('../img/t_cold.png');}
.temp.hot::before {	background:url('../img/t_hot.png');}
.temp.cold::before,.temp.hot::before {
	content:'';
	width: 23px;
	height: 23px;
	display:block;
	position: absolute;
	left:9px;
	/*margin: 0 0 0 -50px;*/
}

.temp.hot{
	/*background:url('../img/t_hot.png') no-repeat 5px 0;*/
	color:#ff5b1a;
	font-weight:900;
}
.temp.lv{
    text-align: center !important;
    right: 0px !important;
    padding-left: 30px;
}
.temp.lv::before{	margin: 0 0 0 5px;  }



.persent_digit{
	position:relative;
	overflow:hidden;
	font-size: 0.7em;
	font-weight: 700;
}
.persent_digit span{
	z-index:10;
	position: relative;
}
.persent_height.bar{
	position: relative;
	top: 0%;
	left: 50%;
	height: 50px;
	width: 30px;
	z-index: 5;
	border-radius: 3px;
	margin: 0px 0px 0px -15px;
	background: #C4C4C4;
    overflow: hidden;
}

.cl-fffbdb{background:#fffbdb !important;}
.cl-fffbdb .tbl_row{background:transparent !important;}

.persent_height.success.bar>.colors-bg{
	background:#6fff00;
}
.persent_height.warning.bar>.colors-bg{
	background:#ff7300;
}
.persent_height.acid.bar>.colors-bg{
	background:#FF1493;
}
.persent_height.chlorine.bar>.colors-bg{
	background:#FFBA00;
}

.colors-bg{
	height: 100%;
	border-radius: 3px;
	bottom: 0px;
    width: 100%;
    position: absolute;
}

.nowrap{white-space:nowrap;}
.mw20{min-width:20px;width:20px;}
.mw30{min-width:30px;}
.mw35{width: 35px !important;min-width: 35px !important;max-width: 35px !important;}
.mw40{min-width:40px;}
.mw40.m40{width:40px;}
.mw50{min-width:50px;}
.mw50.m50{width: 50px;}
.mw60{min-width:60px;}
.mw60.m60{width:60px;}
.mw70{min-width:70px;width:70px;}
.mw80{min-width:80px;}
.mw80.m80{width:80px;}
.mw90{min-width:90px;}
.mw100{min-width:100px;}
.mw110{min-width:110px;width:110px;}
.mw120{min-width:120px;}
.mw150{min-width:150px;}
.mw150.m150{width:150px;}
.mw160{min-width:160px;}
.mw170{min-width:170px;}
.mw180{min-width:180px;}
.mw190{min-width:190px;}
.mw200{min-width:200px;}

.wb40{min-width:40px; width:40px; max-width:40px;}
.wb50{min-width:50px; width:50px; max-width:50px;}
.wb60{min-width:60px; width:60px; max-width:60px;}
.wb70{min-width:70px; width:70px; max-width:70px;}
.wb80{min-width:80px; width:80px; max-width:80px;}
.wb90{min-width:90px; width:90px; max-width:90px;}
.wb100{min-width:100px; width:100px; max-width:100px;}
.wb140{min-width:140px; width:140px; max-width:140px;}
.wb150{min-width:150px; width:150px; max-width:150px;}
.wb160{min-width:160px; width:160px; max-width:160px;}
.wb180{min-width:180px; width:180px; max-width:180px;}
.wb320{min-width:320px; width:320px; max-width:320px;}


#lightsHeadrSubGrp{padding:2px 4px !important;}
/*---------- grey div  start ------*/
.wrapper{
	position: fixed;
	z-index: 9999;
	height: 100%;
	top: 100px;
	left: 0px;
	min-width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: rgba(0, 0, 0, 0.8);
}

.run-block{
	opacity: 1;
	width: 500px;
	height: auto;
	position: absolute;
	top: 10px;
	left: 50%;
	margin: 0px 0px 0px -250px;
	background-color: #fff;
	border-radius: 7px;
}

.wrapper-in-block{
	display: table;
	width: 100%;
	overflow:hidden;
	height: 100%;
	border-radius: 7px;
}

.in-block{
	width: 50%;
	height: 100%;
	display: table-cell;
}

.in-block> div{
	background-color: #fff;
	width: 100%;
	margin: 0% auto;
	height: 100%;
	padding: 0px 0px;
	text-align: center;
	border-radius: 10px 10px 0 0;
}

#left-block h1{ border-right: 1px solid #55719c;}
#groups_visible { border-left: 1px solid #d4d4d4;}

.in-block> div h1{
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	background-color: #0c3471;
	padding: 10px 0;
	margin: 0 !important;
	font-weight: 100;
	letter-spacing: 0.08em;
}


.choice-line>div{
	background-color: #f5f5f5;
	letter-spacing: 0.16em;
	margin: 6px auto;
	padding: 6px 10px;
	color: #0c3471;
	font-size: 14px;
	text-transform: uppercase;
	width: 80%;
	border-radius: 5px;
}


.wrapper-button button{
	margin: 15px;
}

.wrapper-button{
	width: 50%;
	float: right;
	padding: 10px 0 10px 0;
}
/*#sortofilter_save, #sortofilter_cancel*/
.pop-image{
	width: 110px;
	padding-right: 5px;
}

.clr{clear:both;}

.divhide{display: none;}
.detaildiv{top:180px !important;}
.green-border{ border: 2px solid #2aae2a !important; }

#groups_available, #groups_visible{
	min-height:100px;
	text-align: left;
	height:90%;
}
/*---------- grey div  end ------*/
/* -- radio start --*/
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all,
.curValue-input, .ui-widget-content, .newValue-input{
	background: #fff !important;
	border-radius: 5px;
}

.radio-as-buttons{
	overflow:auto;
	margin: 10px 0px 0px;
}

.ui-draggable .ui-dialog-titlebar {
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	background: #0c3471 !important;
	padding: 10px 0 10px 30px;
	margin: 0 !important;
	font-weight: 100;
	letter-spacing: 0.08em;
	border-radius: 5px 5px 0 0;
	width: 100%;
	position: relative;
	left: -5px;
	top: -5px;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
	font-family: "HelveticaNeue-Light",Helvetica, Arial, sans-serif !important;
}

/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;*/
.ui-dialog-titlebar .ui-dialog-titlebar-close{
	position: relative;
	left: -10px;
	top: 5px;
	width: 30px;
	height: 30px;
	background: transparent;
	border: 0px solid red;
}

.ui-dialog-titlebar .ui-dialog-titlebar-close span.ui-icon-closethick{
	width: 30px;
	height: 30px;
	background-image: url("/img/titlebar-close.png");
	position: relative;
	left: 4px;
	top: 6px;
	background-position: 0 0;
}

.ui-dialog-titlebar .ui-dialog-titlebar-close span.ui-icon-closethick:hover{
	background-position: 0 -30px;
}

.radio-as-buttons div {
	float: left;
	width: 25%;
	height: 50px;
	border: none;
}
.radio-as-buttons input {
	position: absolute;
	left: -9999px;
}
.radio-as-buttons label {
	display: block;
	margin: 0 0 0 -1px;
	padding: 5px 10px;
	border: 1px solid #0c3471;
	/*background: linear-gradient(to bottom, rgba(200,200,200,1) 0%, rgba(56,74,88,1) 100%);
	box-shadow: 0 2px 5px rgba(0, 0, 0, .12);*/
	cursor: pointer;
	color: #ffffff;
	font-size: 16px;
	background: #0c3471;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: 600;
	letter-spacing: 0.1em;
}
.radio-as-buttons input:checked + label {
	/*background: linear-gradient(to bottom, rgba(254,181,176,1) 0%, rgba(166,23,3,1) 100%);
	box-shadow: inset 0 3px 6px rgba(0, 0, 0, .2);*/
	background: #75b208;
	border: 1px solid #75b208;
	font-family:  Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: 600;
	letter-spacing: 0.1em;
}

.radio-as-buttons div:first-child label {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.radio-as-buttons div:last-child label {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
#field-dialog-form{
	border: 0px solid red;
	margin: 0 auto;
	padding: 0;
}

.curValue-input, .newValue-input{
	width: 150px;
	font-size: 80px !important;
	margin: 5px 0px 20px;
	text-align: center;
	font-weight: 600;
	border: none;
	font-weight: 100;
}

.curValue-input{
	color: #0c3471;
	width: 90%;
	border-bottom: 1px solid #d4d4d4;
	border-radius: 0px !important;
}

.newValue-input{color: #75b208;}

#dialog-form{
	height:100% !important;
}

#dialog-form .ui-spinner.ui-widget{
	width:60%;
}

#field-dialog-form .ui-spinner-up .ui-icon.ui-icon-triangle-1-n{
	background-image: url("../img/arrows-b.png");
	background-position: 0 0px;
}

#field-dialog-form .ui-spinner-up{top:20px}
#field-dialog-form .ui-spinner-down{bottom:20px}

#field-dialog-form .ui-spinner-down .ui-icon.ui-icon-triangle-1-s{
	background-image: url("../img/arrows-b.png");
	background-position: 0 -30px;
}

.ui-dialog-buttonpane>.ui-dialog-buttonset> button{
	 width: 111px;
	 height: 35px;
	outline: none;
 }

.ui-dialog-buttonpane>.ui-dialog-buttonset> button:nth-child(1) {
	background: url('../img/change.png') no-repeat top;
	background-size: cover;
}

.ui-dialog-buttonpane>.ui-dialog-buttonset> button:nth-child(2){
	background: url('../img/cancel.png') no-repeat top;
	background-size: cover;
}


.ui-dialog-buttonpane>.ui-dialog-buttonset span{
	display: none;
}

#field-dialog-form .ui-spinner-up .ui-icon.ui-icon-triangle-1-n:hover {background-position: -34px 0px;}
#field-dialog-form .ui-spinner-down .ui-icon.ui-icon-triangle-1-s:hover {background-position: -34px -30px;}
#field-dialog-form .ui-spinner-up .ui-icon.ui-icon-triangle-1-n:active,
#field-dialog-form .ui-spinner-up .ui-icon.ui-icon-triangle-1-n:focus {background-position: -68px 0px;}
#field-dialog-form .ui-spinner-down .ui-icon.ui-icon-triangle-1-s:active,
#field-dialog-form .ui-spinner-down .ui-icon.ui-icon-triangle-1-s:focus {background-position: -68px -30px;}

#field-dialog-form .ui-spinner-up,
#field-dialog-form .ui-spinner-down,
#field-dialog-form .ui-spinner-up .ui-icon.ui-icon-triangle-1-n,
#field-dialog-form .ui-spinner-down .ui-icon.ui-icon-triangle-1-s{
	width: 34px;
	height: 30px;
}

#field-dialog-form .ui-spinner .ui-icon {
	margin-top: -16px !important;}

#field-dialog-form .ui-spinner-up.ui-state-default,
#field-dialog-form .ui-spinner-down.ui-state-default {
	border: 0px solid #d3d3d3 !important;
	background: none !important;
}

.ui-widget-content{ border:0px solid red !important; outline: none;}

#dialog-form{
	text-align: center;
	min-height: 222px !important;
	width: 515px !important;
	left: -5px;
}

.ui-dialog .ui-dialog-content{
	overflow: visible !important;
	padding: 0px;
}
/* -- radio end -- */

.headpart{ float: left; }

.headpart h1,h2, h3, h4, h5, h6, p, a, span{
	padding: 0px 0px;
	margin: 0px;
}

h4{	font-size: 20px; font-weight: 100;}
p {	font-size: 14px;}

.head1{width: 450px;}
.head2{/* width: 500px; */}
.head3{float: right;}

 .menubutton{
	width: 50px;
	height:50px;
	background: url('../img/header-menu/topmenu.png');
	float: left;
}

 .res_wrp.nowrap.text-left{color: #144b9b;}

.clh1{background-position:0px 0px;}
.clh1.ext{background-position:0px -50px;}
.clh2{background-position:-50px 0px;}
.clh3{background-position:-100px 0px;}
.clh4{background-position:-150px 0px;}
.clh5{background-position:-200px 0px;}
.clh6{background-position:-250px 0px;}
.clh7{background-position:-300px 0px;}
.clh8{background-position:-350px 0px;}


#table_main{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.wb70 .icn-d.icon5{
	top: 5px !important;
	left: 50% !important;
}
/*-----------detail mode start----------
.isDetailMode, .isDetailMode-val{display: none;}*/
.tbl_cell.status { width:50% !important;}
.isDetailMode-val {font-size:12px;}
.isDetailMode-val div.cw{text-align:center;}
.detailMode-100, .detailMode-100-val{height:100% !important;}
.tbl_cell.detailMode-100-val {vertical-align:middle;}
.tbl_wrapper .tbl_header .detailMode-100 .tbl_cell .header_cell.has_sort{padding-right: 0px !important;}
.detailMode-100 .s_asc {top: 15px !important;}
.wid100.disa.detailMode-100 .cw {position: relative; top: 30px;}
.detailMode-100 .cw.top0{top:0px !important;}


.wb50.center-arr .s_desc,.wb50.center-arr .s_asc{left:17px;}
.wb60.center-arr .s_desc,.wb60.center-arr .s_asc{left:22px;}
.wb80.center-arr .s_desc,.wb80.center-arr .s_asc{left:32px;}

.pluspx{padding: 0px 1px 0px 0px !important;}
.plus4px{padding: 0px 4px 0px 4px !important;}
.ww99{width: 99%;}

.detailMode-100 .header_cell.has_sort{padding: 0 !important;}
.wid100 {display: block !important;}
.wid100.disa{display: none !important;}

#installHeadrSubGrp, #installRowSubGrp{
	float: left;
}



.tbl_wrapper.group > .tbl_row{position:relative;}

.detailMode-100.h113{height: 113px !important;}
/*-----------detail mode end----------*/

/*
.tbl_wrapper .tbl_header .tbl_wrapper.group .tbl_cell .header_cell.has_sort {
    /!*margin-right: 0px;*!/
}
.tbl_wrapper .tbl_header .tbl_wrapper.group .tbl_cell.noact {
    max-width: 100%;
    width: 100%;
}*/

/*-----------table start----------*/
.table_wrapper{
    width:100%;
    border-spacing:0px;
    border-collapse: collapse;
}
.table_wrapper th, .table_wrapper td{
    border: 1px solid #737373;
    padding: 0px;
}
.table_wrapper th{
    background-color: #ebebeb;
    font-weight: 600;
    font-size: 0.8em;
}
.table_wrapper td{
    padding: 5px;
}
.table_wrapper tr{
    background: #ffffff;
}

.table_wrapper .tbl_cell{
    padding: 2px;
}
.table_wrapper .tbl_cell .header_cell {
    height: 35px;

}
.table_wrapper .tbl_cell .header_cell .cw{
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
}
.table_wrapper .tbl_cell .header_cell span{
    height: inherit;
    vertical-align: middle;
    display: table-cell;
}
/*-----------table end----------*/

/*-----------pagination start----------*/
.pagination{
    list-style: none;
    padding: 0px;
    margin: 10px 0px;

}
.pagination li{
    display: block;
    float: left;
    margin: 2px;
    border: 1px solid silver;
    padding: 2px 5px;
    border-radius: 3px;
    background: #ffffff;

}
.pagination li a{
    text-decoration: none;
    color: #6b6666;
}
.pagination li.current a{
    font-weight: 600;
    color: #000000;
}
/*-----------pagination end----------*/

.cl_row{
    clear: both;
    margin-bottom: 5px;
    min-height: 20px;
    padding-left: 5px;
}
.cl_row .cl_cell{
    float: left; margin-right: 15px;
}
form input{
    padding: 0px;
}
form .i_btn{
    padding: 0px 10px;
}

