<?php if ($this->pageCount>1) { ?>
<div class="cl_row">
    <ul class="pagination">
<?php  if (isset($this->previous)) { ?><li><a href="javascript:void(0);" page="<?= $this->previous; ?>">&lt;</a></li><?php } 
    
    foreach ($this->pagesInRange as $page) {
        if ($page != $this->current) { ?><li><a href="javascript:void(0);"  page="<?= $page; ?>"><?= $page; ?></a></li><?php } 
        else { ?><li class="current"><a  href="javascript:void(0);"  page="<?=  $page; ?>"><?= $page; ?></a></li><?php }
        
    }  
if (isset($this->next)) { ?>
<li><a href="javascript:void(0);"  page="<?=$this->next;?>">&gt;</a></li><?php } ?>
    </ul>
</div>
<?php } ?>