        <tr>
            <td><?=$this->uname?></td>
            <td><?=date( 'd/m/Y H:i:s', strtotime($this->dt))?></td>
            <td><?=$this->pname?></td>
            <td><?=$this->col?></td>
            <td><?=$this->vprev?></td>
            <td><?=$this->vset?></td>
            <td><?=$this->error?></td>
        </tr>
