				<div id="table_main" class="tbl_wrapper main">
					
				</div>

<div id="sortofilter" class="wrapper divhide">
	<div class="run-block" id="run-block">
	<div class="wrapper-in-block" id="wrapper-in-block">
		<div id="left-block" class="in-block">
			<div>
				<h1>available panels</h1>
				<div id="groups_available" class="choice-line">
				</div>
			</div>
		</div>
		<div id="right-block" class="in-block">
			<div>
				<h1>visible panels</h1>
				<div id="groups_visible"  class="choice-line">
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper-button">
		<input id="sortofilter_cancel" class="pop-image" type="image" src="../img/cancel.png"><?/* cancel */?>
		<input id="sortofilter_save" class="pop-image" type="image" src="../img/save.png"> <?/* save */?>
		<div class="clr"></div>
	</div>
	</div>
</div>

<div id="dialog-form" title="Change value" style="display: none;">
  <form>
    <fieldset id="field-dialog-form">
		<input type="text" name="curValue" id="curValue" value="0" class="curValue-input" disabled="disabled">
		<br>
		<input type="text" name="newValue" id="input_change_value" value="0" class="text ui-widget-content ui-corner-all newValue-input"  disabled="disabled">
		<input type="hidden" name="itm" id="input_change_itm">
		<input type="hidden" name="pid" id="input_change_pid">
		<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">

	  <div id="input_change_head_mode" class="radio-as-buttons">
		  <div>
			  <input type="radio" name="input_change_head_mode" value="Off" id="radio1" checked />
			  <label for="radio1">Off</label>
		  </div>
		  <div>
			  <input type="radio" name="input_change_head_mode" value="Heater" id="radio2" />
			  <label for="radio2">Heater</label>
		  </div>
		  <div>
			  <input type="radio" name="input_change_head_mode" value="Solar Pref" id="radio3" />
			  <label for="radio3">Solar Pref</label>
		  </div>
		  <div>
			  <input type="radio" name="input_change_head_mode" value="Solar Only" id="radio4" />
			  <label for="radio4">Solar Only</label>
		  </div>
	  </div>
	</fieldset>
  </form>
</div>
<script type='text/javascript'>
var current_page='monitor',mode='compact', allGroupsList =  <?=json_encode($this->allGroupsList)?>;
</script>