<form id="plog_filter_form" method="post">
    <div class="cl_row">
        <div class="cl_cell">
            <div class="cl_row">
                <div class="cl_cell wb40">Date</div>
                <div class="cl_cell">
                    <input name="date_from" id="plog_date_from" class="has_datepicker wb160" value="<?=isset($this->filter['date_from'])?date('m/d/Y',$this->filter['date_from']):''?>">
                    <input name="date_to" id="plog_date_to" class="has_datepicker wb160" value="<?=isset($this->filter['date_to'])?date('m/d/Y',$this->filter['date_to']):''?>">
                </div>
            </div>
            <div class="cl_row">
                <div class="cl_cell wb40">Filter</div>
                <div class="cl_cell">
                    <input name="filter_text" class="wb160" id="filter_text" value="<?=isset($this->filter['text'])?$this->filter['text']:''?>">
                    <select name="filter_column" id="filter_column" class="wb160">
                        <option value="0">Select column</option>
                        <option value="uname">Username</option>
                        <option value="pname">Installation name</option>
                        <option value="col">Column</option>
                        <option value="vprev">Value Previous</option>
                        <option value="vset">Value Set</option>
                        <option value="error">Error On Call</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="cl_cell">
            <input type="hidden" name="page" id="plog_page" value="1">
            <input type="hidden" name="order" id="plog_order" value="<?=$this->order['order']?>">
            <input type="hidden" name="order_column" id="plog_order_column" value="<?=$this->order['column']?>">
            <input type="hidden" name="csv" id="plog_csv" value=0>
            <input type="submit" class="i_btn" name="f_filter" value="Filter">
            <input type="button" class="i_btn" name="f_clear" id="plog_filter_clear" value="Clear">
            <input type="button" class="i_btn" name="f_csv" id="plog_CSV_button" value="Save CSV">
        </div>
    </div>
</form>


<table class="table_wrapper">
    <thead>
        <tr>
            <th>
                <div class="tbl_cell">
                    <div class="header_cell has_sort" column="uname">
                        <a class="s_asc"></a>
                        <a class="s_desc"></a>
                        <div class="cw"><span>Username</span></div>
                    </div>
                </div>
            </th>
            <th>
                <div class="tbl_cell">
                    <div class="header_cell has_sort" column="dt">
                        <a class="s_asc"></a>
                        <a class="s_desc"></a>
                        <div class="cw"><span>Date</span></div>
                    </div>
                </div>
            </th>
            <th>
                <div class="tbl_cell">
                    <div class="header_cell has_sort" column="pname">
                        <a class="s_asc"></a>
                        <a class="s_desc"></a>
                        <div class="cw"><span>Installation name</span></div>
                    </div>
                </div>
            </th>
            <th>
                <div class="tbl_cell">
                    <div class="header_cell has_sort" column="col">
                        <a class="s_asc"></a>
                        <a class="s_desc"></a>
                        <div class="cw"><span>Column</span></div>
                    </div>
                </div>
            </th>
            <th>
                <div class="tbl_cell">
                    <div class="header_cell has_sort" column="vprev">
                        <a class="s_asc"></a>
                        <a class="s_desc"></a>
                        <div class="cw"><span>Value Previous</span></div>
                    </div>
                </div>
            </th>
            <th>
                <div class="tbl_cell">
                    <div class="header_cell has_sort" column="vset">
                        <a class="s_asc"></a>
                        <a class="s_desc"></a>
                        <div class="cw"><span>Value Set</span></div>
                    </div>
                </div>
            </th>
            <th>
                <div class="tbl_cell">
                    <div class="header_cell has_sort" column="error">
                        <a class="s_asc"></a>
                        <a class="s_desc"></a>
                        <div class="cw"><span>Error On Call</span></div>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
<? if( isset($this->paginator ) && ! empty( $this->paginator ) ) {
                        echo $this->partialLoop('partials/plogs.phtml', $this->paginator);
                        }
?>
    </tbody>
</table>
<?php echo $this->paginator; ?>
<script>
    $(".has_datepicker").datepicker();
    <? if (!empty($this->order['column'])):?>$( "div[column='<?=$this->order['column']?>']" ).addClass("<?=$this->order['order']?>");<?  endif;?>
    <? if (!empty($this->filter['column'])):?>$( "#filter_column" ).val('<?=$this->filter['column']?>');<?  endif;?>
    var current_page = 'plogs';
</script>
