<!DOCTYPE html>
<html>
	<head>
		<title><?=$this->site_name?></title>
                <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		 <link href="/css/style.css" rel="stylesheet">
                 <script src="/js/jquery-2.2.3.min.js"></script>
                 <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div class="head1 headpart">
					<img src="/img/header-menu/topmenu-logo.png" style="float:left">
					<h4><?/*=$this->site_name*/?> SCREEN LOGIC MONITOR</h4>
				</div>
				<div class="head2 headpart">
					<div class="menubutton clh1" id="detail_mode"></div>
					<div class="menubutton clh2" id="sortofilter_open"></div>
					<? /*div class="menubutton clh3"></div>
					<div class="menubutton clh4"></div*/?>
					<div class="menubutton clh5" id="log_page_button"></div>
					<?/*div class="menubutton clh6"></div*/?>
				</div>
				<div class="head3 headpart">
					<span class="menubutton clh7"></span>
					<a href="/index/logout"><span class="menubutton clh8"></span></a>
				</div>
			</div>
			<div id="content">

        <?= $this->layout()->content ?>
        <?= $this->headScript() ?>
        <?= $this->headLink() ?>

				<div style="clear:both"></div>
			</div>
		</div>
	</body>
</html>
