<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title><?=$this->site_shortname?> | Login</title>

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

        <link href="/css/animate.css" rel="stylesheet">
        <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
        <link href="/css/style.min.css" rel="stylesheet">



    </head>

    <body class="gray-bg">

        <?= $this->layout()->content ?>
        <!-- Mainly scripts -->
        <script src="/js/jquery-2.1.1.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/plugins/toastr/toastr.min.js"></script>
        <script src="/js/public.js"></script>
        <?= $this->headScript() ?>
        <script type='text/javascript'>
<?= "var def_notifications = " . json_encode($this->def_notifications) . ";\n" ?>
        </script>


    </body>

</html>
